.header{
  font-size: 1.5em;
  font-weight: 600;
}

.container {
  margin-top: 20px;

  input{
    border-radius: 5px;
    border: none;
    padding: 10px 40px;
    background-color: #ddf9fc; 
    font-size: 1.2em;
    font-weight: bold;
    color: #303030;
  }

  input:hover{
    background-color: #cefaff;
    cursor: pointer;
  }
}

.image {
  display: block;
  width: 100%;
}

.finalImageContainer{
  margin-top: 80px;
}
