.container {
  display: flex;
  gap: 5%;
  border-radius: 5px;
}

.description {
  color: #303030;
  font-size: 1.2em;
}

.download{
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}
