.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.fileUpload {
  border: 2px dashed #939393;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;

  input{
    display: none;
  }
}