.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  position: fixed;
  top: 120px;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #f9f9f9;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 9;
  overflow-x: hidden;

  background-color: #f9f9f9;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  overflow-y: auto;
  padding: 25px;

  animation-duration: 1s;
  animation-fill-mode: both;
  animation: slideInRight 1s ease-in;

  ul {
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
  }
}

.galleryClosed {
  @extend .galleryContainer;
  width: 0;
}

.galleryOpen {
  @extend .galleryContainer;
  width: 30%;
}

.toggleButtonOpen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 100px;
  right: 10px;
  z-index: 10;
  font-size: 1.5em;
  background-color: #18e1d6;
  border: none;
  transition: 0.3s;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.toggleButtonClose {
  @extend .toggleButtonOpen;
  background-color: #f35d93;
}

.header {
  font-size: 1.5em;
  text-align: center;
  border-bottom: 1px dotted #31343E;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation: slideInRight 1s ease-in;
}

.addMore {
  flex: 0 0 100%;
  order: 1;
}